<div class="dashboardback">
    <div class="row">
      <div class="col-sm-4"></div>
        <div class="col-sm-4">
         <h1 class="display-4 text-center" style="color: #fff;">Welcome!</h1>
      </div>
      <div class="col-sm-4"></div>
    </div>
 </div>
<div>
  <a class="btn btn-lg btn-outline btn-block" href="/repair_orders/new">Create Order</a>
</div>