<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://i.imgur.com/A3InKou.png" class="rounded float-left" alt="...">
      </div>
        <div class="col-sm-4">
         <h1 class="display-4 text-center">Welcome!</h1>
      </div>
      <div class="col-sm-4">
        <img src="https://i.imgur.com/ZOqsCYY.png" class="rounded float-right" alt="...">
      </div>
    </div>
  </div>
</div>
