<p id="notice"><%= notice %></p>

<p>
  <strong>Color name:</strong>
  <%= @device_color.color_name %>
</p>

<%= link_to 'Edit', edit_device_color_path(@device_color) %> |
<%= link_to 'Back', device_colors_path %>
