<h1>Popular Repair Components Report</h1>

<!--<= search_form_for @search do |f| %>-->
    <!--<div class = "field">-->
      <!--<= f.label :device_component_id, "Search" %>-->
      <!--<= f.text_field :device_component_id %>-->
    <!--</div>-->
    <!--<div class="actions"><=f.submit "Search" %> </div>-->

<!--<end %>-->

<!--%= form_tag(repair_component_per_order_report_path, :method => :post) do %>-->
    <!--<p>Start Date</p>-->
    <!--%= date_field_tag :start_date %>-->
    <!--<p>End Date</p>-->
    <!--%= date_field_tag :end_date %>-->
<!---->
    <!--<br>-->
    <!--<br>-->
    <!--%= submit_tag "Submit" %>-->
<!--<br>-->
    <br>
    <br>
    <%= render 'repair_component_per_order_report/arelsqlex' %>

<!--%end %>-->






