<td>
  <table>
    <tr>
      <td>
        <div class="field">
          <%= form.label :test_id %>
          <%= form.collection_select :test_id, Test.all, :id, :test_name %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= form.label :post_test_condition, "Post-Test Condition" %>
          <%= form.check_box :post_test_condition, id: :device_post_test_post_test_condition %>
        </div>
      </td>
    </tr>
  </table>
</td>