<div class="container">
<h1>Create A New Repair Order</h1>

<%= render 'form', repair_order: @repair_order %>

  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
    <a class="btn btn-outline" href="/repair_orders">Back</a>
  </div>
</div>